html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inhereit; }

body {
  background: url(../img/dirt.jpeg);
  color: white; }

/*****TYPOGRAPHY*****/
html {
  font-size: 10px; }

body {
  font-family: "minerva-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.666rem;
  line-height: 1.25;
  padding: 1.25rem;
  margin: 0 auto; }

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 4.73719rem;
  line-height: 1.25;
  margin-top: 1.25;
  margin-bottom: 0em; }

h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 3.55378rem;
  line-height: 2.5;
  margin-top: 1.25;
  margin-bottom: 0em; }

h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 3.55378rem;
  line-height: 2.5;
  margin-top: 1.25;
  margin-bottom: 0em; }

/* Not in use for this project, values are placeholders only
h4 {
	font-family: inherit;
	font-weight: 600;
	font-style: inherit;
	font-size: 1rem;
	line-height: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 0rem;
}
h5 {
	font-family: inherit;
	font-weight: 400;
	font-style: italic;
	font-size: 1rem;
	line-height: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 0rem;
}
*/
p, ul, ol, pre, table, blockquote {
  margin-top: 1.25;
  margin-bottom: 0rem; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

hr {
  border: 1px solid;
  margin: -1px 0; }

b, strong, em, small, code {
  line-height: 1; }

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/****COLORS******/
/*** BRIGHT PALETTE
$light: #D9C9B8;
$dark: #5B4C3E;
$medium: #8B796C;
*/
/* MUTED PALETTE */
.overlay {
  height: 100vh;
  width: 100%; }

.header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 999; }
  .header:last-child {
    margin-right: 0; }

#logo {
  display: inline-block;
  z-index: 100;
  max-height: 5em; }

.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .content:last-child {
    margin-right: 0; }

.contact {
  position: absolute;
  background-color: rgba(25, 100, 25, 0.8);
  width: 100%;
  z-index: 998;
  bottom: 0;
  height: 100%;
  padding-top: 15em;
  padding-bottom: 5em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  visibility: hidden; }

.media {
  margin-left: 8.5298%; }

.media-img {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-right: 2em; }
  .media-img:last-child {
    margin-right: 0; }

.action-button_floating {
  position: fixed;
  bottom: 5em;
  margin-left: 76.76824%;
  height: 9rem;
  width: 9rem;
  padding: 2rem;
  background: url(../img/phone.svg) center/62% no-repeat red;
  border-radius: 50%;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), 0.5rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7);
  bottom: -10em;
  z-index: 99999; }

#skewX {
  background-color: rgba(23, 129, 102, 0.8); }

/****LANDING****/
#skewX {
  height: 100%;
  position: fixed;
  z-index: -10;
  left: 50%;
  transform: skewX(-20deg);
  width: 90%; }

.carousel {
  text-align: center;
  overflow: hidden;
  z-index: 2;
  color: #178166; }
  .carousel h1 {
    margin-top: 1rem; }

.carousel-header,
#carousel1,
#carousel2,
#carousel3,
#carousel4 {
  visibility: hidden;
  display: none; }

/*# sourceMappingURL=main.css.map */
