/****VARIABLES*****/
@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*****RESETS*******/


/*****TYPOGRAPHY*****/
body,h1,h2,h3,h4,h5,h6 {
	font-family: "minerva-modern",sans-serif;
	font-style: normal;
	font-weight: 400;
}

/****COLORS******/
// http://paletton.com/#uid=13e0u0kwpY95n+XfJ+q+Tm5RLan PALLETTE, WITH lighter white contrast
$medium-shade: #178166; //main logo color
$black: #000;

/*** BRIGHT PALETTE
$light: #D9C9B8;
$dark: #5B4C3E;
$medium: #8B796C;
*/

/* MUTED PALETTE */
$light: #716454; $dark: #40362A;
$compliment: #2E233B;

body {
	background-color: $light; 
	//background: 
		//url('../img/mountains.svg') center center / 50% no-repeat,
		//linear-gradient(110deg, $dark-shade, $dark-shade 50%, $light-shade, $light-shade 50%)
}
#logo {
	background-color: rgba(white, 1);
}
#skewX {	
	background-color: rgba($medium-shade, 0.8);
}

/*****GRID*******/


/****LANDING****/
body {
	background: 
		linear-gradient(
			rgba($compliment, 0.2),
			rgba($compliment, 0.2)
		),
		url(../img/dirt.jpeg);
}
.icon {
	max-width: 3em;
	height: 3em;
}

#logo {
	display: block;
	@include vertical-align;
	position: fixed;
	max-width: 50%;
	margin: 0 25%;
	padding: 2em;
	border-radius: 1em;
	z-index: 2;
}
#skewX {
	height: 100%;
	position: fixed;
	z-index: -10;
	// margin-left should be a percetnage equivalent to the % above 50% width.
	left: 50%;
	transform: skewX(-20deg);
	width: 90%;
}
#nav-bar {
	position: fixed;
	width: 100%;
	height: 8%;
	top: 14%;
	background-color: $medium-shade;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	// Items to be changed by JS //
	top: 6%;
	z-index: 1;
	visibility: hidden;
}

/**** CONTENT *****/

body {
	color: white;
}
.text-block {
	position: fixed;
	height: 70%;
	width: 100%;
	> h1 {
		text-align: center;
	}
	> h1,p {
		padding: 5%;
	}
	background-color: $compliment;
	// Set-up for JS //
	visibility: hidden;
}

//order env, dev, about
#dev, #about {
	left: 100vw;
}
.moving1, .moving2 {
	padding: 5px;
	border-radius: 5px;
}
/****** CONTACT INFO *******/
.phone-icon {
	display: inline-block;
	max-width: 5em;
	margin-right: 2em;
}
.img-combo {
	width: 100%;
}
.combo-text {
	width: 50%;
	display: inline-block;
}

#contact-info {
	visibility: hidden;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: white;
	color: $compliment;
	z-index: 101;
	width: 100%;
	margin-top: 39%;
	height: 70%;
	padding-left: 10%;
}

// Design Notes
// What key words identify Norstar?
// What do their clients value?
// 

body {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  max-width: 760px;
  padding: 27px;
  margin: 0 auto;
}
h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 76px;
  line-height: 81px;
  margin-top: 27px;
  margin-bottom: 0px;
}
h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 47px;
  line-height: 54px;
  margin-top: 27px;
  margin-bottom: 27px;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 29px;
  line-height: 54px;
  margin-top: 27px;
  margin-bottom: 0px;
}
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 18px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 0px;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 27px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #268ED9;
}
.gridlover-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 27px 27px;
}
.gridlover-grid body {
  box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .3);
}
