doctype html
html(lang="en")
	head
		link(rel='stylesheet' href='css/main.css')
		link(rel="stylesheet" type="text/css" href="js/node_modules/fullpage.js/jquery.fullPage.css")
		script(type="text/javascript" src="js/node_modules/jquery/dist/jquery.js")
		script(type="text/javascript" src="js/jquery-ui.min.js")
		script(type="text/javascript" src="js/node_modules/fullpage.js/jquery.fullPage.js")
		script(src='js/TweenMax.js')
		script(src='js/CSSPlugin.min.js')
		script(src='js/TimelineLite.min.js')
		script(src="https://use.typekit.net/sjx5bzx.js")
		script try{Typekit.load({ async: true });}catch(e){}
		script(src='js/behaviour.js')
	body
		.overlay
			.header
				img.svg#logo(src='img/norstar.svg')
				.carousel
					.carousel-fixed
						#slogan 
							h1 What Recycling 
							h1 Should Look Like
						h1.carousel-header Recycling Should
					.carousel-moving
						h1#carousel1 Skip the Landfill
						h1#carousel2 Cost Less
						h1#carousel3 Be About the Future
						h1#carousel4 Your Best Option
			a.page-up
				img.down-button.svg(src='img/arrows.svg')
			.contact
				.media
					img.media-img.svg(src='img/phone.svg') 
					a.media-p  555.555.5555
				.media
					img.media-img.svg(src='img/pin.svg') 
					a.media-p  12345 Street
				.media
					// TODO: change phone to mail
					img.media-img.svg(src='img/mail.svg') 
					a.media-p  email@email.com
			.action-button_floating.svg
			a.page-down
				img.down-button.svg(src='img/arrows.svg')
		#content
			.content#section1
				img.icon.svg(src='img/recycle.svg')
				p By recycling impacted soils, we can avoid costly intermediate solutions like landfills. Our commitment to resourcefulness means we find new environmentally friendly uses for contaminated soils isntead of just moving the liability elsewhere.
			.content#section2
				img.icon.svg(src='img/money.svg')
				p Businesses shouldn't have to choose between doing the right thing for the environment and saving money. We are commited to offering significant savings on remediation costs because businesses and the environment benefit when we can accomplish the same goals with less resources.
			.content#section3
				img.icon.svg(src='img/kids.svg')
				p Why pass the liability to the next generation? Our commitment to sustainability means we don't move contaminants, we elimiate them. Our children shouldn't have to deal with the same contaminants in a different location.
			.content#section4
				img.icon.svg(src='img/call.svg')
				p Want to learn more about Norstar Environmental or curious about recycling other materials? Contact us

		#fullpage
			.section
			.section
			.section
			.section
			.section
		script(type='text/javascript').
			/* Replace all SVG images with inline SVG */
			jQuery('img.svg').each(function(){
				var $img = jQuery(this);
				var imgID = $img.attr('id');
				var imgClass = $img.attr('class');
				var imgURL = $img.attr('src');

				jQuery.get(imgURL, function(data) {
					// Get the SVG tag, ignore the rest
					var $svg = jQuery(data).find('svg');

					// Add replaced image's ID to the new SVG
					if(typeof imgID !== 'undefined') {
						$svg = $svg.attr('id', imgID);
					}
					// Add replaced image's classes to the new SVG
					if(typeof imgClass !== 'undefined') {
						$svg = $svg.attr('class', imgClass+' replaced-svg');
					}

					// Remove any invalid XML tags as per http://validator.w3.org
					$svg = $svg.removeAttr('xmlns:a');

					// Replace image with new SVG
					$img.replaceWith($svg);

				}, 'xml');
			});

