// Use Border Box Sizing
html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inhereit;
}

body {
	background:
		linear-gradient(rgba(32,75,130,0.8) rgba(32,75,130,0.8)),
		url(../img/dirt.jpeg);
	color: #0C4335;
}
