/*****TYPOGRAPHY*****/

// html font size at 10 to keep rems to 10
html {
	font-size: 10px
}
body {
	font-family: "minerva-modern", sans-serif; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: 1.25;
}
h1 {
	font-size: 2.40rem;
}
p {
	font-size: 1.6rem;
}
/*
$base-line-height: 1.25;
$modular-scale-ratio: $major-second;
$modular-scale-base: 1.4rem;
$line-height: 1rem * 1.25;

	font-weight: 400;
	font-style: normal;
	font-size: modular-scale(1);
	line-height: ($base-line-height * 1);
	padding: 1.25rem;
}
h1 {
	font-family: inherit;
	font-weight: 600;
	font-style: inherit;
	font-size: modular-scale(2);
	line-height: $base-line-height;
	margin-top: ($base-line-height * 1);
	margin-bottom: 0em;
}
h2 {
	font-family: inherit;
	font-weight: 600;
	font-style: inherit;
	font-size: modular-scale(2);
	line-height: $base-line-height * 2;
	margin-top: ($base-line-height * 1);
	margin-bottom: 0em;
}
h3 {
	font-family: inherit;
	font-weight: 600;
	font-style: inherit;
	font-size: modular-scale(2);
	line-height: $base-line-height * 2;
	margin-top: ($base-line-height * 1);
	margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
	margin-top: ($base-line-height * 1);
	margin-bottom: 0rem;
}
ul ul, ol ol, ul ol, ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
hr {
	border: 1px solid;
	margin: -1px 0;
}
b, strong, em, small, code {
	line-height: 1;
}
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

*/
