.footer {
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	bottom: 0%;
	padding: 1em 3em 1em 1em;
	color: $white;
	background-color: transparentize($compliment-color, .20);
	z-index: 2;

	> a {
		text-decoration: none;
		color: inherit;
	}
}
