// COLORS
$black: #000000;
$white: #ffffff;
$whitey: transparentize(#ffffff, 0.05);

// Theme 1: Blue and Orange
$brand-color: 				#008265;
$background-light-color: 	#ccffff;
$background-dark-color: 	#3f564f;
$background-medium-color:	#8bc0b3;
$text-dark-color: 			#3f564f;
$text-light-color: 			#e1efeb;
$accent-color: 				#c47e00;
$accent-light-color:		#fae2ef;

// Decorations
$b-radius: 5px;
$compliment-color: 			#0c3e85;

