.contact {
	visibility: hidden; // to be changed by JS
}

.media {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.media-img {
	display: inline-block;
	height: 3em;
	margin-right: 2em;
	width: 5em;
}

@media(min-width: 450px) and (min-height: 750px) {
	.media-img {
		height: 6em;
		width: 6em;
	}
}

