// TODO: Change name from main to something else, its confusing
// IDEA: Fixed heights with em's and relative positions with %

.content {
	@include span-columns(10);
	@include shift(1);
	@include elevation-2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 50%;
	padding: 2em;
	// top: calc(19em + 8%); this is the position JS will setit too
	top: calc(25em + 8%); // this is what JS animations from

	position: fixed;

	border-radius: $b-radius;
	background-color: white;
	color: $text-dark-color;
}

#section1,
#section2,
#section3,
#section4 {
	visibility: hidden; // To be altered by Javascript
}

body {
	background:
		linear-gradient(rgba($brand-color, 0.1), rgba($brand-color, 0.1)),
		url(../img/background.png) 50%/cover no-repeat;
}

.icon {
	display: inline-block;
	max-width: 7em;
	max-height: 7em;
}
.icon path {
	fill: $brand-color;
}
.icon {
	padding: 0.5em;
	border-radius: 15%;
	border: 0.3em solid $brand-color;
	background-color: $background-light-color;
}

.icon:hover path {
	fill: $background-light-color;
}
.icon:hover {
	background-color: $brand-color;
	border-color: $background-light-color;
}

