.footer {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	bottom: -10%;
	padding: 1em;
	color: $white;
	background-color: transparentize($compliment-color, .50);
	z-index: 4;

	> a {
		text-decoration: none;
		color: inherit;
	}
}
