.header {
	@include span-columns(8);
	@include shift(2);
	@include pad(1em);
	background-color: white;
	border-radius: 1em;
	@include vertical-align;
	overflow: hidden;
	z-index: 9999;
}

#logo {
	display: inline-block;
	z-index: 10;
	max-height: 5em;
	// TODO: make hieght multiople of line-height

}
