.header {
	@include span-columns(8);
	@include shift(2);
	@include pad(1em);
	background-color: white;
	@include vertical-align;
	overflow: hidden;
	position: relative;
	z-index: 2;
	@include elevation-1;
	
	border-radius: $b-radius;
}

#logo {
	display: inline-block;
	z-index: 10;
	max-height: 5em;
	// TODO: make hieght multiople of line-height

}

