.carousel {
	text-align: center;
	position: fixed;
	top: 56em;
	background-color: grey;
	width: 100%;
	height: 10rem;
	overflow: hidden;
	z-index: 2;

}

.carousel-header_fixed {
	position: relative;
	z-index: 2;
}
.carousel-header_moving {
	position: relative;
	zindex: 1;
}

.carousel-header_fixed,
.carousel-header_moving {
	visibility: hidden;
}
