.carousel {
	text-align: center;
	overflow: hidden;
	z-index: 2;
	color: $medium-shade; 
	h1 {
		margin-top: 1rem;
	}

}


.carousel-header,
#carousel1,
#carousel2,
#carousel3,
#carousel4 {
	visibility: hidden;
	display: none;
}
