.carousel {
	text-align: center;
	overflow: hidden;
	z-index: 2;
	color: $text-dark-color; 
	h1 {
		margin-top: 0.4em;
	}
	

}


.carousel-header,
#carousel1,
#carousel2,
#carousel3,
#carousel4 {
	visibility: hidden;
	display: none;
}
