.carousel {
	text-align: center;
	position: fixed;
	@include span-columns(10);
	@include shift(1);
	overflow: hidden;
	@include vertical-align;
	margin-top: 5em;
	z-index: 2;
	> h2 {
		margin-top: 0;
		font-style: italic;
	}
	background-color: rgba(255,255,255,0.3);

}

.carousel-header_fixed {
	position: relative;
	z-index: 2;
}
.carousel-header_moving {
	position: relative;
	zindex: 1;
}

.carousel-header_fixed,
.carousel-header_moving {
	display: none;
}
