#logo {
	@include span-columns(8);
	@include shift(2);
	@include pad(2em);
	@include vertical-align;
	height: 12em;
	position: fixed;
	background-color: white;
	border-radius: 15px;
	z-index: 100;

}

