// Skew Color
#skewX {	
	background-color: rgba($medium-shade, 0.8);
	background-color: #178166;
	@include elevation-2;
}

/****LANDING****/
#skewX {
	position: fixed;
	height: 100%;
	width: 90%;
	left: 50%;
	bottom: 0%;
	transform: skewX(-20deg);
	border-radius: 0px;
}
