// Skew Color
#skewX {	
	background-color: $brand-color;
	@include elevation-2;
}

/****LANDING****/
#skewX {
	position: fixed;
	height: 150%;
	width: 100%;
	left: 0%;
	top: 50%;
	transform: skewY(-70deg);
	z-index: 1;
}

#fullpage {
	z-index: 1;
}
