// Color Themes (purpose,[ modifier,] color )
/*
$brand-color {}
$background-light-color {}
$background-dark-color
$accent-color {}
$text-dark-color {}
$text-light-color {}
*/

// Theme 1: Dark and Bold
$brand-color: 				#178166;
$background-light-color: 	#119DA4;
$background-dark-color: 	#160C28;
$text-dark-color: 			#040404;
$text-light-color: 			##E1EFEB;
$accent-color: 				#4c061d;
$compliment-color: 			#160c28;
$tertiary-color: 			#119da4;
